name: Starter Pipeline # Workflow name

on:
  - push                # trigger on push
  - workflow_dispatch   # manual trigger

# 1️⃣ WORKFLOW-LEVEL ENV VARIABLES
env:
  DOTNET_VERSION: '8.x'
  PACKAGE_OUTPUT: ./nupkg
  NUGET_FEED_URL: 'https://nuget.pkg.github.com/ibnehussain/index.json'

jobs:
  Build:
    runs-on: ubuntu-latest # runner

    # 2️⃣ JOB-LEVEL ENV VARIABLES
    env:
      BUILD_CONFIGURATION: Release

    steps:
      # 3️⃣ CONTEXT VARIABLES (github.*)
      - name: Show GitHub context
        run: |
          echo "Build started in ${{ github.repository }} by ${{ github.actor }}"
          echo "::debug::DOTNET_VERSION is $DOTNET_VERSION"
          echo "::group::GitHub context"
          echo "Branch: ${{ github.ref_name }}"
          echo "::endgroup::"

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore

      # dotnet build produces:
      # - .dll / .exe
      # - .pdb
      # - intermediate files
      - name: Build
        run: dotnet build 

      # 4️⃣ STEP OUTPUT VARIABLE
      - name: Set package version
        id: version
        run: echo "version=1.0.${{ github.run_number }}" >> $GITHUB_OUTPUT

      #Find the path
      - name: locate path
        run: ls -al

      # 5️⃣ PACK: Create NuGet package (.nupkg)
      - name: Pack NuGet package
        run: |
          dotnet pack --output ./nupkg 

      # 6️⃣ COLLECT ARTIFACT
      - name: Upload package as CI artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package
          path: ${{ env.PACKAGE_OUTPUT }}

      # 8️⃣ SECRET VARIABLE
      - name: Publish package to GitHub Packages
        run: |
          dotnet nuget push "${{ env.PACKAGE_OUTPUT }}/*.nupkg" --source "${{env.NUGET_FEED_URL }}" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
