
name: Publish Package

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v6.0.2
      
      - name: Log in GHCR
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build and Push to GHCR
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Demoappaz204/Dockerfile
          push: true
          tags: ghcr.io/${{github.repository_owner}}/demoappaz204:latest
      


